<% content_for :meta_title, 'О проекте' %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1>О проекте «Искусство. От А до Я»</h1>

  <p>
    Интернет изменил не только способ создания искусства, но также и форму его
    использования и восприятия. Когда путешествуешь по всемирной паутине,
    неизбежно сталкиваешься с сайтами, у которых есть заманчивые предложения
    художникам, которые предлагают информацию о ярких, порой скандальных,
    шокирующих явлениях в сфере современного искусства и о многочисленных
    и разнообразных выставках в мире. Или предоставляют серию банков данных
    такого типа (artnet.com): более 400 000 художников, работающих с IV века
    до наших дней, проявивших себя в различных дисциплинах и стилях
    (рисунок – акварель, живопись, графика, скульптура, фотография
    и аудиовизуальные и мультимедийные средства). Это любопытно и познавательно,
    но цели сайта «От А до Я» иные.
  </p>

  <p>
    Мы не стремимся гнаться за «свежатинкой» или предоставлять информацию
    исключительно о новых выставках в мире. Главная наша задача – погрузить
    зрителей в самую суть происходящих в современном искусстве процессов
    и познакомить зрителей с тем, что происходит внутри него: как работает
    система современного искусства с её важнейшими игроками (художники, критики,
    кураторы, коллекционеры, музеи, галереи, арт рынок…). А каков инструментарий
    современного художника (методы, принципы, стратегии, формы, техники)?
    Целесообразно также подготовить материалы, рассказывающие о своеобразии
    современного искусства, о том, как оно функционирует, какие формы,
    материалы, техники использует, каким стилям отдаёт предпочтение.
  </p>

  <p>
    Чрезвычайно любопытно проанализировать, в чём новаторство современного
    искусства и обращается ли оно к традициям. Необходимо подробно остановиться
    и на новых формах, жанрах, видах современного искусства – инсталляции,
    граффити, street art – и попытаться понять, как они функционируют, почему
    многие художники отдают им предпочтение?
  </p>

  <p>
    Важное значение имеет и вопрос об идентичности произведения. Что позволяет
    назвать определённый предмет, объект, ситуацию, процесс произведением
    искусства? И как функционируют сегодня галереи современного искусства?
    Это лаборатории или магазины?
  </p>

  <p>
    Хотелось бы сделать сайт «От А до Я» трибуной для высказывания художников
    на различные темы, связанные с искусством. Само название сайта предполагает
    полноценный и максимально исчерпывающий поиск свежих идей в творчестве
    и их обсуждение. Причём в очень своеобразной форме. Предлагается тема.
    Например, вторжение. Возможно, как комментарий к происходящему в мире,
    в котором мы живём, когда подвергаемся бомбардировке лишённой фильтрации
    информации. Как отвечает на эти вызовы художник? Иногда он даже обращается
    к текстам, документам, земле, воде… Или другая тема - аккумуляция,
    повторение, одержимость и роль архивов. Или: творческий процесс сегодня.
    Неожиданные повороты.
  </p>

  <p>
    Предполагаемые рубрики: Новости. Выставки. Тенденции. Аукционы. Премии.
    Форум. Интервью. События. Аукционы. Срочно.
  </p>

  <p>
    И, конечно, мы будем информировать посетителей о ярких выставках,
    прежде всего зарубежных, о самых дорогих художниках в мире, топ лотах
    на аукционах, необычных проектах. Предполагаются также интервью
    с художниками, критиками, коллекционерами, кураторами.  Помимо этого,
    вас ждут курьёзы и любопытные вещи.
  </p>

  <footer>
    Витория Хан-Магомедова,<br/>
    Главный редактор.
  </footer>
</article>
