body {
  font-weight: 300;
  height: 100%;
}

a {
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@supports (flex-direction: column) {
  body {
    display: flex;
    flex-direction: column;

    > * {
      width: 100%;
    }
  }

  #main {
    flex: 1;
  }
}

h1,
h2,
h3 {
  font-weight: 500;
}

.breadcrumbs {
  border-bottom: $border-secondary;
  margin: 0 auto;
  max-width: $content-width;
  padding: $spacer-xs;
}

@supports (--css: vars) {
  .breadcrumbs {
    padding: var(--spacer-xs);
  }
}

article {
  margin: 0 auto;
  max-width: $content-width;
  padding: $spacer-xs;
  position: relative;
}

.biovision-slider {
  display: flex;

  button {
    background: no-repeat center;
    border: none;
    cursor: pointer;
    flex: none;
    width: 3.2rem;

    &.prev {
      background-image: image_url('biovision/base/icons/slider/arrow-left.svg');
    }

    &.next {
      background-image: image_url('biovision/base/icons/slider/arrow-right.svg');
    }
  }

  ul {
    display: flex;
    flex: 1;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  li {
    flex: none;
    transition: .125s;
    width: 100%;
  }
}

.post-gallery {
  .image {
    height: 48rem;
    overflow: hidden;
  }

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}


@supports (--css: vars) {
  article {
    padding: var(--spacer-xs);
  }
}